#contact{
	display: flex;
	justify-content: center;

	.section{
		display: grid;
		grid-template-rows: auto auto;
		row-gap: 1rem;

		.name-section{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;

			.section-subtitle{
				font-size: .8rem;
				font-weight: 400;
			}

			.section-title{
				font-size: 1.5rem;
				font-weight: 600;
			}
		}

		.contact-cont{
			
		}
	}

}